html, body {
    height: 10%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

table.table tbody tr:hover td {
    background-color: #d0e7f2;
    border-color: #c1d6e0;
    transition: background-color 0.2s;
}

