.edit-schedule-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem; 
}

.edit-schedule-row .day {
    width: 8rem;
    flex-shrink: 0;
}

.edit-schedule-row .time-input {
    width: 8rem; 
    flex-shrink: 0;
}

.edit-schedule-row .is-working {
    width: 1rem; 
    flex-shrink: 0;
}



.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 10px; 
}

.product-item {
    background-color: #d0e7f2;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    height: 3rem;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
}

.product-item:hover {
    background-color: #e2e2e2;
}

.product-item .form-check-input {
    margin-right: 0.5rem;
}

